*{padding: 0;margin: 0;box-sizing: border-box;}


.cardTop{
    margin: 10px 40px 75px 40px;
}
.bg {
    background-image: url("http://demo2.themelexus.com/worldlife/wp-content/uploads/2019/07/h2-bg01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    
}
.bg h4{
    text-align: center;
    margin-top: 0px;
    padding-bottom: 50px;
    padding-top: 100px;
}

 .card img{
     height: 375px;
     width: 100%;
    transition: transform 0.6s;
}
.card:hover{
    box-shadow: 1px 1px 20px rgba(33,33,33,.2); 
}
.card:hover img{
   transform: scale(1.2);
}
.card:hover h3{
    color: #34b363
 }
 .card .transparenBox{
     overflow: hidden;
 }


.card .unsuccess{
    padding: 0.8rem 2rem 0.8rem;
    background-color: #ef9595;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
    color: #fff;
    font-size: 10px;
    font-size: 0.58824rem;
    position: absolute;
    top: 340px;
    right: 50%;
    transform: translate(50%, 50%);
}

.card h3{
    font-weight: 700;
    color: #000;
    letter-spacing: 0;
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    font-family: "Barlow Condensed",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
}
.card h5{
    color: #555555;
    font-size: 1.2rem;
    line-height: 1.875;
    font-family: "Barlow", "Helvetica Neue", helvetica, arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
}
.card p{
    text-align: center;
    font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    color: #555555;
    font-size: 1.5rem;
    line-height: 30px;
    padding-bottom: 30px;
}

.impactTop{
    background-image: url("https://i.ibb.co/V9Ck6qs/photo-1593642532842-98d0fd5ebc1a-ixlib-rb-1-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.impact{
    background-color: transparent;
    padding: 200px 0 150px 0;
}

.impact h2{
    color: #ffffff;
    font-size: 50px;
    text-transform: capitalize;
    line-height: 52px;
    letter-spacing: 0.1px;
    font-weight: 700;
    font-family: "Barlow Condensed", -apple-system, BlinkMacSystemFont, Sans-serif;
    padding: 0 0 10vh 0;
    
}

.impact p{
    display: block;
    color: #ffffff;
    font-family: "Barlow", Sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1;
}
.csc {
    color: #35b463;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Barlow", Sans-serif;
    padding: 0 0 50px 0;
}
