*{padding: 0;margin: 0;box-sizing: border-box;}

.changeLive{
    background-image: url("https://i.ibb.co/V9Ck6qs/photo-1593642532842-98d0fd5ebc1a-ixlib-rb-1-2.jpg");
    background-position: center;
    background-size: cover;
}
.changeLive{ 
    background-color: transparent;
    padding: 200px 0 100px 0;
}

.changeLive h2{
    color: #ffffff;
    font-size: 50px;
    text-transform: capitalize;
    line-height: 52px;
    letter-spacing: 0.1px;
    font-weight: 700;
    font-family: "Barlow Condensed", -apple-system, BlinkMacSystemFont, Sans-serif;
    margin-bottom: 10vh;
    
}

.changeLive p{
    margin: 0 0 0px 0;
    display: block;
    color: #ffffff;
    font-family: "Barlow", Sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875;
}
.changeLive button{
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.715;
    border-radius: 4px;
    font-family: "Barlow Condensed",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    border: 1px solid transparent;
    text-transform: uppercase;
}
.changeLive .but1 button{
    background-color: #34b363; 
}

.changeLive .but1{
    background-color: #34b363;
    border-color: #34b363;
    padding: 20px 4% 20px 4%;
    margin: 2%;
}
.changeLive .but1:hover{
    background-color: #4ea16d;
    border-color: #4ea16d;
}
.changeLive .but2 button{
    background-color: #a5166e; 
    
}

.changeLive .but2 {
    background-color: #a5166e;
    border-color: #a5166e;
    padding: 20px 4% 20px 4%;
    margin: 2%;
}
.changeLive .but2:hover{
    background-color: #8d326a;
    border-color: #8d326a;
}
