*{
    padding: 0;margin: 0;box-sizing: border-box;
}

.recentNewsCardBg{
    background-image: url("https://i.ibb.co/V9Ck6qs/photo-1593642532842-98d0fd5ebc1a-ixlib-rb-1-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0 100px 0;
    margin-top: 30px;
    color: white;
    font-family: "Barlow Condensed",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.recentNewsCardBg a{
    text-decoration: none;
    color: #fff; 
    font-weight: bolder; 
}

.recentNewsCardBg a:hover{
    color: #35b463;
    text-decoration: none;
}
.recentNewsCardBg .uncategorise{
    margin-bottom: 40px;
}

.recentNewsCardBg .byLine{
    margin-top: 30px;
}

.recentNewsCardBg .uncategorisesp a{
    color: #a5166e;
}

.recentNewsCardBg .uncategorisesp a:hover{
    color: #35b463;
}




