*{ padding: 0; margin: 0; box-sizing: border-box;}

.contactUsBg{
    background-image: url("https://i.ibb.co/V9Ck6qs/photo-1593642532842-98d0fd5ebc1a-ixlib-rb-1-2.jpg");
    background-position: center;
    background-size: cover;
    
}
.contactUsColDiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 70px 40px 70px 70px;
}
.contactUsColDiv a{
    color: #fff;
}

.contactUsColDiv a:hover{
    color: #555555;
    text-decoration: none;
}

.addressDivTop{
    margin: 200px 40px 100px 40px;
}


.addressCol{
    margin: 0 100px 100px 0;
}
.headingDiv{
    margin-bottom: 80px;
}
.headingDiv h2{
    color: #000000;
    font-size: 40px;
    line-height: 48px;
    font-weight: 900;
    letter-spacing: 0.1px;
    font-family: "Barlow Condensed", -apple-system, BlinkMacSystemFont, Sans-serif;
}
.addressDiv p{
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    font-family: "Barlow", Sans-serif;
}
.addressDivP p{
    color: #555555;
    font-size: 24px;
    font-family: "Barlow", Sans-serif;
    font-weight: 400;
    padding-bottom: 30px;
}

.addressDivP p a{
    color: #555555;
    font-size: 24px;
    font-family: "Barlow", Sans-serif;
    font-weight: 400;
}
.addressDivP li{
    list-style-type: none;
    padding-bottom: 5px;
}

.addressDivP li a{
    color: #555555;
    font-size: 24px;
    font-family: "Barlow", Sans-serif;
    font-weight: 400;  
}

.addressDivP a:hover{
    color:#288a4c;
    text-decoration: none;
}

.Col2Heading h2{
    color: #000000;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 48px;
    font-weight: 800;
    font-family: "Barlow Condensed", -apple-system, BlinkMacSystemFont, Sans-serif;
}

.Col2HeadP p{
    color: #555555;
    font-family: "Barlow", Sans-serif;
    font-weight: 400;
    font-size: 26px;
    padding-bottom: 30px;
}

.formCol2 .formGroup{
    padding-bottom: 40px;
}

.formCol2 .formGroup label{
    color: #000;
    display: block;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
}

.formCol2 .formGroup input{
    padding: 35px 0 35px 0;
    border: none;
    background-image: url("http://demo2.themelexus.com/worldlife/wp-content/uploads/2019/07/h2-bg01.jpg");
}

.formCol2 .formGroup textarea{
    background-image: url("http://demo2.themelexus.com/worldlife/wp-content/uploads/2019/07/h2-bg01.jpg");
    border: none;
}

.formCol2 .summit input{
    padding: 25px 10% 25px 10%;
    background-color: #34b363;
    border-color: #34b363;
    color: #fff;
    font-family: "Barlow Condensed",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
}
.formCol2 .summit input:hover{
    background-color: #288a4c;
    border-color: #288a4c;
    text-decoration: none;
}