*{ margin: 0; padding: 0; box-sizing: border-box;}

.nav{
    background-color: brown;
    position: fixed;
    width: 100%;
    height: 20vh;
}
.nav h1{

}
.wrapper{
    text-align: right;
    margin-top: 7vh;
    
}
.wrapper ul li{
    display: inline;
    padding: 15px;
}
.wrapper ul li a{
    text-decoration: none;
    color: white;
    font-size: inherit;
}
/* .wrapper ul{
    list-style: none;
    display: inline-block;
}

.wrapper ul ul{
    display: none;
}
.wrapper ul:hover ul{
    display: block;
   margin-top: 50px;
   margin-left: 502px;
    font-size: 15px;
    position: absolute;
    line-height: 50px;
    padding: 10px;
    padding-right: 100px;
    background-color: whitesmoke;
}

.wrapper ul li a{
    text-decoration: none;
    color: rgb(61, 45, 45);
}
.wrapper ul li a:hover{
    color: tomato;
}

.menu{
    color: white;
    padding: 1%;
    float: left;
    text-decoration: none;
}
.menu:hover{
    height: 100%;
    color: yellow;
}



.donation{
    background-color: teal;
    padding: 2%;
    float: left;
    margin-left: 5%;
    color: white;
    text-decoration: none;
    border-radius: 5%;
}
.donation:hover{
    color: yellow;
    background-color: rgb(106, 104, 112);
} */

.donation{
    background-color: teal;
    padding: 12px;
    border-radius: 5%;
}
.donation:hover{
    color: yellow;
    background-color: rgb(106, 104, 112);
}