*{padding: 0; margin: 0; box-sizing: border-box;}


/* .footer{
    background-color: #292727; 
} */
 .footer1{
    background-color: #292727;
    border: none;
    border-bottom: rgb(101, 143, 101) solid 1px;
    padding-top: 70px;
    padding-bottom: 20px;
}

.footer1 h1{
    color: white;
    font-size:x-large;
}

.footer1 p{
    color: #999999;
}

.footer1 button{
    background-color:#35b463;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
.footer1 button:hover{
    color: white;
    background-color: rgb(106, 104, 112);
} 

.footer2{
    background-color: #292727;
}
.footer21{
    border: none;
    border-right: rgb(101, 143, 101) solid 0px;
    padding-top: 30px;
    padding-bottom: 20px;
   
}
@media (min-width: 1200px)
{
 .footer21{
     
    border: none;
    border-right: rgb(101, 143, 101) solid 1px;
    padding-top: 30px;
    padding-bottom: 20px;
}   
}

.footer21 h5{
    padding-top: 40px;
    padding-bottom: 20px;
    color:#ffffff;
    letter-spacing: 0.1px;
}
.footer21 p{
    color: #999999;
    font-size: 15px;
}

.footer21 form{
    margin-top: 50px;
    
}
.footer21 button{
    background-color: #35b463;
    padding-left: 25px;
    padding-right: 25px;

}
.footer22{
    padding: 65px 25px 25px 25px;
    
    
}

.footer22c1{
    padding-right: 20px;
}

.footer22 h6{
    color: #ffffff;
}

.footer22 a{
    text-decoration: none;
    color: #999999;
    font-size: 15px;
}

.footer22 a:hover{
   color: rgb(31, 134, 31);
} 

.footer3{
    padding-bottom: 55px;
    padding-top: 55px;
    background-color: #292727;
    border: none;
    border-top: rgb(101, 143, 101) solid 1px;
    border-bottom: rgb(101, 143, 101) solid 1px;

}


 .footer3 a{
    text-decoration: none;
    color: #807c7c;
}
.footer3 a:hover{
    color: rgb(31, 134, 31);
} 

.footer4{
    background-color: #292727;
    padding-top: 70px;
    padding-bottom: 20px;
    color: #999999;
}




/* own */

.emailtags{
    display: flex !important;
}
.form-control{
    border-radius: 0px !important;
}
.btn{
    border-radius: 0px !important;
}
.textcenter{
    text-align: center ;
}
@media (min-width: 1200px)
{
 .textcenter{
    text-align: unset ;
}  
}





