*{ padding: 0; margin: 0; box-sizing: border-box;}

.blogBg{
    background-image: url("https://i.ibb.co/V9Ck6qs/photo-1593642532842-98d0fd5ebc1a-ixlib-rb-1-2.jpg");
    background-position: center;
    background-size: cover;
}
.blogColDiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 70px 40px 70px 70px;
}
.blogColDiv a{
    color: #fff;
}

.blogColDiv a:hover{
    color: #555555;
    text-decoration: none;
}


.blogContentAll{
    margin: 100px 50px 100px 50px;
}
.colmn{
margin: 0 0 70px 0;
padding: 0 0 30px 0;
border: none;
border-bottom: 1px solid #e0e0e0;
}


.colmn11 .colmn11Header{
    margin: 30px 0 50px 0;
    
}
.colmn11 .colmn11Header .UCDate{
    padding-bottom: 10px;
}
.colmn11 .colmn11Header .uncategorised a{
    color: #f8c612; 
    text-decoration: none;
    font-weight: bold; 
    font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.colmn11 .colmn11Header .dateInfo a{
    color: #555555;
    font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.colmn11 .colmn11Header h2 a{
    color: #000000;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: -0.04em;
    text-decoration: none;
    font-family: "Barlow Condensed",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.colmn11 .colmn11ParaInfo p{
    font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    color: #555555;
    font-size: 25px;
    margin-bottom: 50px;
}

.colmn11 .colmn11Header a:hover{
    color: #35b463;
    text-decoration: none;
}


.readMore {
    margin: 50px 0 30px 0;
}
.readMore .BOV a{
    text-decoration: none;
    color: #fff;
    font-family: "Barlow Condensed",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.readMore .BOV{
    padding: 30px 70px 30px 70px;
    background-color: #34b363;
    border-color: #34b363;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    text-align: center;
   
}
.readMore .BOV:hover{
    background-color: #288a4c;
    border-color: #288a4c;
    text-decoration: none;
}



.colmn2 ul li{
    list-style-type: none;
    padding: 20px 0 20px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
   
}

.colmn2 ul li a{
    color: #000000;
    font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}
.colmn2 ul li a:hover{
    color: #35b463;
    text-decoration: none;
}
.colmn2 .searchBox{
    background-image: url("http://demo2.themelexus.com/worldlife/wp-content/uploads/2019/07/h2-bg01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    margin-bottom: 50px;
}


.emailtags{
    display: flex !important;
}
.form-control{
    border-radius: 0px !important;
}
.btn{
    border-radius: 0px !important;
}
.textcenter{
    text-align: center ;
}
@media (min-width: 1200px)
{
 .textcenter{
    text-align: unset ;
}  
}

.colmn2 .searchBox .searchForm .inputGroup{
    padding: 20px 0 20px 0;
}

.colmn2 .searchBox .searchForm .inputGroup .searchField{
    padding: 30px 0 30px 0;
    
}
.colmn2 .recentPost{
    background-image: url("http://demo2.themelexus.com/worldlife/wp-content/uploads/2019/07/h2-bg01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    margin-bottom: 50px;
}

.recentPost h2{
    padding: 0 0 30px 0;
    border: none;
    border-bottom: 1px dashed #e0e0e0;
}

.colmn2 .recentComment{
    background-image: url("http://demo2.themelexus.com/worldlife/wp-content/uploads/2019/07/h2-bg01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    margin-bottom: 50px;
}
.recentComment h2{
    padding: 0 0 30px 0;
    border: none;
    border-bottom: 1px dashed #e0e0e0;
}

.colmn2 .arhive{
    background-image: url("http://demo2.themelexus.com/worldlife/wp-content/uploads/2019/07/h2-bg01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    margin-bottom: 50px;
}
.arhive h2{
    padding: 0 0 30px 0;
    border: none;
    border-bottom: 1px dashed #e0e0e0;
}

.colmn2 .categories{
    background-image: url("http://demo2.themelexus.com/worldlife/wp-content/uploads/2019/07/h2-bg01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    margin-bottom: 50px;
}
.categories h2{
    padding: 0 0 30px 0;
    border: none;
    border-bottom: 1px dashed #e0e0e0;
}

.colmn2 .meta{
    background-image: url("http://demo2.themelexus.com/worldlife/wp-content/uploads/2019/07/h2-bg01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    margin-bottom: 50px;
}
.meta h2{
    padding: 0 0 30px 0;
    border: none;
    border-bottom: 1px dashed #e0e0e0;
} 

.affix{
    top:0;
    z-index: 9999 !important;
}