*{ padding: 0; margin: 0; box-sizing: border-box;}

.aboutUsBg{
    background-image: url("https://i.ibb.co/V9Ck6qs/photo-1593642532842-98d0fd5ebc1a-ixlib-rb-1-2.jpg");
    background-position: center;
    background-size: cover;
    
}
.aboutUsColDiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 70px 40px 70px 70px;
}
.aboutUsColDiv a{
    color: #fff;
}

.aboutUsColDiv a:hover{
    color: #555555;
    text-decoration: none;
}

.globalLeaderDiv{
    margin-top: 200px;
}
.globalLeaderBgIn{
    position: absolute;
    top: 0;
    width: 50%;
    left: 25%;
}

.globalLeaderDiv .globalLeaderClm{
    margin-top:50px;
    margin-left: 7px;
}

.globalLeaderRow h2{
    font-size: 40px;
    text-transform: uppercase;
    line-height: 52px;
    letter-spacing: -0.25px;
    color: #000000;
    font-weight: 700;
    font-family: "Barlow Condensed", -apple-system, BlinkMacSystemFont, Sans-serif;
}

.globalLeaderRow p{
    margin-top: 40px;
    color: #555555;
    font-family: "Barlow", Sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.875;
}

.whatWeDoBg{
    background-image: url("http://demo2.themelexus.com/worldlife/wp-content/uploads/2019/07/h2-bg01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 200px 0 100px 0;
    padding-bottom: 100px;
}

.whatWeDoCol{
   width: 50%;
   margin-left: 26%;
   
}
.whatWeDoColCnt{
    position: absolute;
    top: 0;
    width: 50%;
    left: 25%;
}
.ourTeam{
    margin: 25px 0 25px 0;
}

.ourTeam .ourTeamTitle{
    position: absolute;
    top: 50%;
    left:40%;
    color: #fff;
}

.ourTeam .ourTeamTitle .name{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -1px;
    color: #fff;
    font-family: "Barlow Condensed",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.ourTeam .ourTeamImage .OTLogoList{
    position: absolute;
    top: 100%;
    width: 80%;
    left: 10%;
    height: 0px;
    overflow: hidden;
    transition: 0.5s ease;
}

.ourTeamImage:hover > .OTLogoList{
    height: 10%;
    top: 80%;
}

.ourTeam .ourTeamImage .OTLogoList ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;    
}
.ourTeam .ourTeamImage .OTLogoList ul li a{
   color: #fff;
}
.ourTeam .ourTeamImage .OTLogoList ul li a:hover{
    color:#288a4c;
}

.meetOurTeam{
   margin: 0 0 100px 0; 
}

.meetOurTeam .ourTeamHead h2{
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    letter-spacing: -1.2px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Barlow Condensed", -apple-system, BlinkMacSystemFont, Sans-serif;
    text-align: center;
    margin: 200px 0 100px 0;
}
.BOVTop {
    margin: 100px 0 100px 0;
}
.BOVTop .BOV a{
    text-decoration: none;
    color: #fff;
}
.BOVTop .BOV{
    padding: 30px 50px 30px 50px;
    background-color: #34b363;
    border-color: #34b363;
    text-decoration: none;
    color: #fff;
    border-radius: 2%;
   
}
.BOVTop .BOV:hover{
    background-color: #288a4c;
    border-color: #288a4c;
    text-decoration: none;
}


.ourSponser{
    margin: 100px 0 100px 0;
}
.ourSponser h1{
    color: #000000;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: -1.2px;
    text-align: center;
    font-weight: 700;
    margin: 100px 0 50px 0;
    font-family: "Barlow Condensed", -apple-system, BlinkMacSystemFont, Sans-serif;
}

.ourSponser{
    margin: 150px 0 150px 0;
    color: #555555;
    font-size:30px;
    text-decoration: none;
}


.ourSponser .ourSponserCol a:hover{
    color: #35b463;
    text-decoration: none;
}


